In [8]:
import pandas as pd
import requests
import numpy as np

Scraping TORONTO postal code information from Wikipedia website.

In [9]:
TorontoRD=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
TorontoRD.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

Replacing Not assigned values in "Borough" column of the table with Nan and then dropping rows with none values.

In [10]:
TorontoRD['Borough'] = TorontoRD['Borough'].replace('Not assigned', np.nan)
TorontoRD = TorontoRD.dropna(axis=0, subset=['Borough'])
TorontoRD.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

Replacing Not assigned values in "Neighbourhood" column of the table with Nan and then filling the Nan Values with the same values of Borough's column.

In [11]:
TorontoRD['Neighbourhood'] = TorontoRD['Neighbourhood'].replace('Not assigned', np.nan)
TorontoRD.Neighbourhood.fillna(TorontoRD.Borough,inplace=True)
TorontoRD.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

Combining rows with the same value for Borough column and different Neighbourhood by grouping and aggregating.

In [12]:
TorontoRD= TorontoRD.groupby(by=['Postcode','Borough'],sort = False).agg(lambda x: ','.join(x))
TorontoRD.head(10)

                                             Neighbourhood
Postcode Borough
M3A      North York                              Parkwoods
M4A      North York                       Victoria Village
M5A      Downtown Toronto         Harbourfront,Regent Park
M6A      North York        Lawrence Heights,Lawrence Manor
M7A      Queen's Park                         Queen's Park
M9A      Etobicoke                        Islington Avenue
M1B      Scarborough                         Rouge,Malvern
M3B      North York                        Don Mills North
M4B      East York          Woodbine Gardens,Parkview Hill
M5B      Downtown Toronto          Ryerson,Garden District

Reseting the index column.

In [13]:
TorontoRD=TorontoRD.reset_index()
TorontoRD.head(10)

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park
5      M9A         Etobicoke                 Islington Avenue
6      M1B       Scarborough                    Rouge,Malvern
7      M3B        North York                  Don Mills North
8      M4B         East York   Woodbine Gardens,Parkview Hill
9      M5B  Downtown Toronto          Ryerson,Garden District

Now we have the final cleaned up data for Toronto city. Assigning the new name for cleaned up data as Toronto_DF and checking the  size of table with shape function.

In [18]:
Toronto_df=TorontoRD
Toronto_df.shape

(103, 3)